//      General variables

//Background-Colors
$footer-bg: #f4f6fb;
$header-bg: #ffffff;

//Colors
$primary-color: #ff7855;
$primary-color-light: #ffe9e5;
$text-header-color: #233d63;



//      Home Page Specific

//Digital Solutions
$home-settings-bg: #fcd8e1;
$home-security-bg: #dde8fa;

//Testimonials
$home-card-bg: #f4f6fb;

//Blog
$home-blog-bg1: #ff6448;
$home-blog-bg2: #00aeff;


//      Team Page Specific

// Card
$team-card-bg: #f4f6fb;

//      Feature Page Specific

// Digital Solutions
$feature-settings-bg: #fcd8e1;
$feature-security-bg: #dde8fa;
$feature-settings-2-bg: #ff9cdb;
$feature-security-2-bg: #f5eb98;

//      Blog Page Specific

//Serach
$blog-search-bg: #f4f6fb;

//Blog Post
$blog-catagory-bg: #ff6448;

//Blog Contact
$blog-contact-bg: #ff7754;

//Blog Pages
$blog-next-bg: #ff7855;

