@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("../../font/circular-std-medium-500.ttf?family=Circular");
p {
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@font-face {
  font-family: "Circular";
  src: url(../../font/circular-std-medium-500.ttf);
}
header > * {
  color: #233d63;
}

main p {
  font-family: "Poppins", sans-serif;
}
main h1, main h2, main h3, main h4, main h5, main h6 {
  color: #233d63 !important;
}

footer p {
  font-family: "Poppins", sans-serif;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #233d63;
}

.text-primary {
  color: #ff7855 !important;
}

header {
  /* NAVBAR STYLING*/
  /*Remove outline on burger menu click*/
}
header .navbar {
  background-color: #ffffff;
}
header .navbar a {
  text-decoration: none;
  color: #233d63;
}
header .navbar .dropdown-menu {
  border: none;
}
header .navbar .dropdown-toggle::after {
  display: none !important;
}
@media (min-width: 992px) {
  header .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
  header .navbar .dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}
header .navbar .nav-link:hover, header .navbar .dropdown-item:hover {
  color: #ff7855;
}
header .navbar .navbar-toggler {
  background-color: white;
  border-radius: 0px;
  padding: 10px;
}
header .navbar-toggler:focus,
header .navbar-toggler:active,
header .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
header .banner {
  background-image: url(../../../Gfx/bg-wide-2.jpg);
}

footer {
  background-color: #f4f6fb;
}
footer .footer-phone {
  font-size: large;
}
footer .footer-header {
  display: flex;
  flex-direction: column;
}
footer .footer-header hr {
  width: 60px;
  border: 1.5px solid #ff7855;
  opacity: 1;
}
footer .footer-header h5 {
  margin: 0px !important;
  font-weight: bold;
}
footer .footer-link-nav a:hover {
  transition: 0.5s;
  transform: translateX(5px);
  color: #ff7855 !important;
}
footer .input-group input {
  border-radius: 0;
  border: none;
  padding: 15px;
  border-right: none;
}
footer .input-group input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1);
}
footer .input-group input::placeholder {
  opacity: 0.5;
}
footer .input-group span {
  border-left: none;
  background-color: white;
  color: #ff7855;
  border-radius: 0;
  border: none;
}
footer .footer-btn {
  background-color: #ff7855;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  color: white;
}
footer .footer-btn:hover {
  transition: 0.5s;
  background-color: white;
  color: black;
}
footer .footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header-btn {
  background-color: #ffe9e5;
  border-radius: 5px;
  color: #ff7855;
  border: none;
}
@media (min-width: 992px) {
  .header-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .header-btn:hover {
    color: white;
    transition: 0.3s;
  }
  .header-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 500%;
    height: 1000%;
    background: #ff7855;
    z-index: -1;
    transform: translateX(145px) translateY(100px) rotate(45deg);
    transition: transform 0.3s;
  }
  .header-btn:hover::after {
    transform: translateY(-70%) translateX(25px) rotate(45deg);
  }
}

.main-btn {
  background-color: #ffe9e5;
  border-radius: 5px;
  color: #ff7855;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main-btn:hover {
  color: white;
  transition: 0.3s;
}
.main-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 500%;
  height: 1000%;
  background: #ff7855;
  z-index: -1;
  transform: translateX(145px) translateY(100px) rotate(45deg);
  transition: transform 0.3s;
}
.main-btn:hover::after {
  transform: translateY(-70%) translateX(25px) rotate(45deg);
}

.hero-btn {
  background-color: #ff7855;
  border-radius: 0px;
  color: white;
  border: none;
  height: 60px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.hero-btn:hover {
  color: #ff7855;
  transition: 0.3s;
}
.hero-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 500%;
  height: 1000%;
  background: white;
  z-index: -1;
  transform: translateX(145px) translateY(100px) rotate(45deg);
  transition: transform 0.3s;
}
.hero-btn:hover::after {
  transform: translateY(-70%) translateX(25px) rotate(45deg);
}
.hero-btn:hover {
  border: 1px solid #ff7855;
}

.team-card .card-socials {
  opacity: 0.5;
}
.team-card .card-body {
  background-color: #f4f6fb;
}
.team-card:hover .card-body {
  background-color: #ff7855;
  transition: 0.5s;
}
.team-card:hover .card-body .card-title {
  color: white !important;
}
.team-card:hover .card-body .card-subtitle {
  color: rgba(255, 255, 255, 0.8) !important;
}
.team-card:hover .card-body .card-socials > a > i {
  color: white !important;
}

.pricing-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.feedback-card .card-body:nth-child(1) {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.feedback-card .card-body:nth-child(1) i {
  top: 0px;
  opacity: 10%;
}
.feedback-card .card-body:nth-child(2) {
  background-color: #f4f6fb;
}
.feedback-card:hover .card-body:nth-child(2) {
  background-color: #ff7855;
  transition: 0.5s;
}
.feedback-card:hover .card-body:nth-child(2) .card-title {
  color: white !important;
}
.feedback-card:hover .card-body:nth-child(2) .card-subtitle {
  color: rgba(255, 255, 255, 0.8) !important;
}

#clients-carousel {
  /* https://www.codeply.com/p/0CWffz76Q9  SLIDER STYLING USING CODEPLY EXAMPLE*/
  /*SM BREAKPOINT 3 COLS*/
  /*MD BREAKPOINT 3 COLS*/
  /*LG BREAKPOINT 4 COLS*/
}
@media (max-width: 575px) {
  #clients-carousel .carousel-inner .carousel-item > div {
    display: none;
  }
  #clients-carousel .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
#clients-carousel .carousel-inner .carousel-item.active,
#clients-carousel .carousel-inner .carousel-item-next,
#clients-carousel .carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 576px) {
  #clients-carousel .carousel-inner .carousel-item-end.active,
  #clients-carousel .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }
  #clients-carousel .carousel-inner .carousel-item-start.active,
  #clients-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
  #clients-carousel .carousel-inner .carousel-item-end,
  #clients-carousel .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  #clients-carousel .carousel-inner .carousel-item-end.active,
  #clients-carousel .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }
  #clients-carousel .carousel-inner .carousel-item-start.active,
  #clients-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
  }
  #clients-carousel .carousel-inner .carousel-item-end,
  #clients-carousel .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}
@media (min-width: 992px) {
  #clients-carousel .carousel-inner .carousel-item-end.active,
  #clients-carousel .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  #clients-carousel .carousel-inner .carousel-item-start.active,
  #clients-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
  #clients-carousel .carousel-inner .carousel-item-end,
  #clients-carousel .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}

#screenshot-carousel {
  /* https://www.codeply.com/p/0CWffz76Q9  SLIDER STYLING USING CODEPLY EXAMPLE*/
  /*SM BREAKPOINT 3 COLS*/
  /*MD BREAKPOINT 3 COLS*/
  /*LG BREAKPOINT 5 COLS*/
}
@media (max-width: 575px) {
  #screenshot-carousel .carousel-inner .carousel-item > div {
    display: none;
  }
  #screenshot-carousel .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
#screenshot-carousel .carousel-inner .carousel-item.active,
#screenshot-carousel .carousel-inner .carousel-item-next,
#screenshot-carousel .carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 576px) {
  #screenshot-carousel .carousel-inner .carousel-item-end.active,
  #screenshot-carousel .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }
  #screenshot-carousel .carousel-inner .carousel-item-start.active,
  #screenshot-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
  #screenshot-carousel .carousel-inner .carousel-item-end,
  #screenshot-carousel .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  #screenshot-carousel .carousel-inner .carousel-item-end.active,
  #screenshot-carousel .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }
  #screenshot-carousel .carousel-inner .carousel-item-start.active,
  #screenshot-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
  }
  #screenshot-carousel .carousel-inner .carousel-item-end,
  #screenshot-carousel .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}
@media (min-width: 992px) {
  #screenshot-carousel .carousel-inner .carousel-item-end.active,
  #screenshot-carousel .carousel-inner .carousel-item-next {
    transform: translateX(20%);
  }
  #screenshot-carousel .carousel-inner .carousel-item-start.active,
  #screenshot-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-20%);
  }
  #screenshot-carousel .carousel-inner .carousel-item-end,
  #screenshot-carousel .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}

.form-select:focus, .form-control:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1);
}
.form-select::placeholder, .form-control::placeholder {
  opacity: 0.5;
}

textarea {
  resize: none;
}
textarea:focus {
  outline: 2px solid #00aeff !important;
}

.hero-form-group {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-tag-left {
  background-color: #ff6448;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  top: -20px;
  left: 20px;
  font-size: small;
}

.blog-tag-right {
  background-color: #00aeff;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  top: -20px;
  left: 20px;
  font-size: small;
}

.blog-desc {
  width: 90%;
  margin-top: -40px;
  background-color: white;
  border-radius: 5px;
}
.blog-desc p {
  font-size: small;
}

.contact-info p {
  font-size: small;
}

.hover-parent .hover-element {
  transition: 0.5s;
}
.hover-parent:hover .hover-element {
  scale: 1.3;
}
.hover-parent:hover h4 {
  color: #ff7855;
}

.settings-box-1 {
  width: 60px;
  height: 60px;
  background-color: #fcd8e1;
}

.settings-box-2 {
  width: 60px;
  height: 60px;
  background-color: #ff9cdb;
}

.security-box-1 {
  width: 60px;
  height: 60px;
  background-color: #dde8fa;
}

.security-box-2 {
  width: 60px;
  height: 60px;
  background-color: #f5eb98;
}

/*# sourceMappingURL=main.css.map */
