@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("../../font/circular-std-medium-500.ttf?family=Circular");
p {
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@font-face {
  font-family: "Circular";
  src: url(../../font/circular-std-medium-500.ttf);
}
header > * {
  color: #233d63;
}

main p {
  font-family: "Poppins", sans-serif;
}
main h1, main h2, main h3, main h4, main h5, main h6 {
  color: #233d63;
}

footer p {
  font-family: "Poppins", sans-serif;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #233d63;
}

.text-primary {
  color: #ff7855 !important;
}

header {
  /* NAVBAR STYLING*/
  /*Remove outline on burger menu click*/
}
header .navbar {
  background-color: #ffffff;
}
header .navbar a {
  text-decoration: none;
  color: #233d63;
}
header .navbar .dropdown-menu {
  border: none;
}
header .navbar .dropdown-toggle::after {
  display: none !important;
}
@media (min-width: 992px) {
  header .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
  header .navbar .dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}
header .navbar .nav-link:hover, header .navbar .dropdown-item:hover {
  color: #ff7855;
}
header .navbar .navbar-toggler {
  background-color: white;
  border-radius: 0px;
  padding: 10px;
}
header .navbar-toggler:focus,
header .navbar-toggler:active,
header .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
header .banner {
  background-image: url(../../../Gfx/bg-wide-2.jpg);
}

footer {
  background-color: #f4f6fb;
}
footer .footer-phone {
  font-size: large;
}
footer .footer-header {
  display: flex;
  flex-direction: column;
}
footer .footer-header hr {
  width: 60px;
  border: 1.5px solid #ff7855;
  opacity: 1;
}
footer .footer-header h5 {
  margin: 0px !important;
  font-weight: bold;
}
footer .footer-link-nav a:hover {
  transition: 0.5s;
  transform: translateX(5px);
  color: #ff7855 !important;
}
footer .input-group input {
  border-radius: 0;
  border: none;
  padding: 15px;
  border-right: none;
}
footer .input-group input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1);
}
footer .input-group input::placeholder {
  opacity: 0.5;
}
footer .input-group span {
  border-left: none;
  background-color: white;
  color: #ff7855;
  border-radius: 0;
  border: none;
}
footer .footer-btn {
  background-color: #ff7855;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  color: white;
}
footer .footer-btn:hover {
  transition: 0.5s;
  background-color: white;
  color: black;
}
footer .footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header-btn {
  background-color: #ffe9e5;
  border-radius: 5px;
  color: #ff7855;
  border: none;
}
@media (min-width: 992px) {
  .header-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .header-btn:hover {
    color: white;
    transition: 0.3s;
  }
  .header-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 500%;
    height: 1000%;
    background: #ff7855;
    z-index: -1;
    transform: translateX(160px) translateY(100px) rotate(45deg);
    transition: transform 0.3s;
  }
  .header-btn:hover::after {
    transform: translateY(-70%) translateX(25px) rotate(45deg);
  }
}

.card .card-socials {
  opacity: 0.5;
}
.card .card-body {
  background-color: #f4f6fb;
}
.card:hover .card-body {
  background-color: #ff7855;
  transition: 0.5s;
}
.card:hover .card-body .card-title {
  color: white !important;
}
.card:hover .card-body .card-subtitle {
  color: rgba(255, 255, 255, 0.8) !important;
}
.card:hover .card-body .card-socials > a > i {
  color: white !important;
}

/* https://www.codeply.com/p/0CWffz76Q9  SLIDER STYLING USING CODEPLY EXAMPLE*/
@media (max-width: 575px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/*SM BREAKPOINT 3 COLS*/
@media (min-width: 576px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}
/*MD BREAKPOINT 3 COLS*/
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
  }
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}
/*LG BREAKPOINT 4 COLS*/
@media (min-width: 992px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
}
.form-select:focus, .form-control:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1);
}
.form-select::placeholder, .form-control::placeholder {
  opacity: 0.5;
}

textarea {
  resize: none;
}

.contact-info p {
  font-size: small;
}

/*# sourceMappingURL=main.css.map */
